{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>View</title>
</head>
<body>
    <pre>
        <h3>
            Profile pic : {{view.profile_pic}} 
            Username : {{view.username}}
            Gender : {{view.gender}}
            About : {{view.about}}
            Skills : {{view.skills}}
            DOB : {{view.dob}} 
        </h3>
    </pre>

    <a href="/">Go back</a>

</body>
</html>